body{
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 1em;
	text-align: center;
}
section{
	width: 400px;
}
.price{
	padding:80px;
	display: flex;
	justify-content: center;
}
}
.basic{
	display: inline-block;
	font-family: 'Montserrat Subrayada', sans-serif;
}

.price-item-title{
	background-color: #00bcd4;
	height: 275px;
	position: relative;
	text-align: center;
	color: #ffffff;
	z-index: -1;
}
.price-item-slogan{
	position: absolute;
  	font-size: 30px;
  	font-weight: 400;
    left: 50px;
    bottom: 50px;
    text-align: left;
}
.price-item-price{
	position: absolute;
	background: #393d50;
	height: 122px;
	width: 122px;
	border-radius: 100%;
	 top: -65px;
    left: 50px;
}
.icon{
	 top: -34px;
    position: absolute;
    left: 154px;
}
.cost{
	position: absolute;
	color: #09cfea;
	font-size: 25px;
	bottom: 60px;
	left: 30px;
}
.unit{
	position: absolute;
	color: #788492;
	font-size: 20px;
	bottom: 33px;
	left: 28px;
}
.price-item-content{
	border: 1px solid #dfe5e8; 
	display: flow-root;
}
.price-item-content ul{
	list-style: none;
	text-align: left;
}
.sub{
	font-size: 24px;
	color: #5f727f;
	font-family:  'Source Sans Pro', sans-serif;
}
.price-item-content>p{
	color: #5f727f;
	text-align: left;
	margin-left: 45px;
}
.price-item-content ul li{
	padding: 10px;
	color:  #5f727f;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 16px;
	padding-left: 40px;
    margin-left: -40px;
}
.price-item-content ul li i{
	padding-right: 7px;

}
 li:nth-child(odd){
	background-color: #f4f6f7;
}
.button{
	margin: 50px 0;

}
.button a{
	background-color: #b6c6c9;
  	padding: 10px 30px;
 	 color: #fff;
 	 text-transform: uppercase;
 	 font-weight: 700;
  	text-decoration: none;
 	 border-radius: 30px;
	margin-right: 210px;
}
.button a:hover{
	background-color:#2c2e3d;
}
.new{
	position: absolute;
    top: -22px;
    background: #00bcd4;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 20px;
    border-radius: 100px;
    right: 100px;
    font-weight: 700;
}
.life .price-item-title{
	background-color: #7264bd;
}
.advance .price-item-title{
	background-color: #1c94ca;
}
.advance .price-item-slogan{
	padding-bottom: 30px;
	bottom: 70px;
}
.advance .title{
	background-color: #1c94ca;
}
.price-item-price .adv{
	color:#2183b5;
}
.price-item-price .lif{
	color:#7e71d0;
}
.price-item-spe{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	position: absolute;
    left: 39px;
    bottom: 37px;
}
